<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feilu.game.box.example.tkmapper.mapper.FloorConfigMapper">

    <resultMap id="BaseResultMap" type="com.feilu.game.box.example.tkmapper.entity.FloorConfig">
            <id column="id" property="id" jdbcType="INTEGER"></id>
            <result column="title" property="title" jdbcType="VARCHAR"/>
            <result column="type" property="type" jdbcType="TINYINT"/>
            <result column="weight" property="weight" jdbcType="INTEGER"/>
            <result column="createTime" property="createtime" jdbcType="TIMESTAMP"/>
            <result column="updateTime" property="updatetime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="BaseColumn">
            id,
            title,
            type,
            weight,
            createTime,
            updateTime
    </sql>

    <sql id="BasicFieldColumn">
            id,
            title,
            type,
            weight,
            createtime,
            updatetime
    </sql>

</mapper>
