<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.feilu.game.box.example.tkmapper.mapper.GameCategoryMapper">

    <resultMap id="BaseResultMap" type="com.feilu.game.box.example.tkmapper.entity.GameCategory">
            <id column="id" property="id" jdbcType="INTEGER"></id>
            <result column="name" property="name" jdbcType="VARCHAR"/>
    </resultMap>

    <sql id="BaseColumn">
            id,
            name
    </sql>

    <sql id="BasicFieldColumn">
            id,
            name
    </sql>

</mapper>
